[workspace]
members = ["mindus", "lemu", "p2s"]
resolver = "2"

[profile.release]
debug = 2
opt-level = 3
lto = "thin"
incremental = true

[profile.dev.build-override]
opt-level = 3

[profile.release.build-override]
opt-level = 3
